body{
    background: #333;
}

.box{
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes myanimation {
    0%{background-color: white; left:0px; top: 0px;}
    25%{background-color: blue; left:300px; top:0px;}
    50%{background-color: pink; left:300px; top:300px;}
    75%{background-color: violet;left:300px; top:0px;}
    100%{background-color: white;left:0px; top:0px;}    
}